/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #974dff;
  --ifm-color-primary-dark: #842cff;
  --ifm-color-primary-darker: #7a1bff;
  --ifm-color-primary-darkest: #6100e8;
  --ifm-color-primary-light: #842cff;
  --ifm-color-primary-lighter: #7a1bff;
  --ifm-color-primary-lightest: #6100e8;
}

[data-theme='dark'] {
  --ifm-color-primary: #974dff;
  --ifm-color-primary-dark: #be8fff;
  --ifm-color-primary-darker: #b47fff;
  --ifm-color-primary-darkest: #974dff;
  --ifm-color-primary-light: #b47fff;
  --ifm-color-primary-lighter: #be8fff;
  --ifm-color-primary-lightest: #d1b1ff;
  --ifm-background-color: #09090b;
}

.footer{
  background: #242526;
}